/* FONTS */

/* Hanken Grotesk Medium */
@font-face {
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/static/HankenGrotesk-Medium.ttf") format("truetype");
  font-family: "Hanken Grotesk";
  font-display: swap;
}

/* Hanken Grotesk Medium */
@font-face {
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/static/HankenGrotesk-Bold.ttf") format("truetype");
  font-family: "Hanken Grotesk";
  font-display: swap;
}

/* Hanken Grotesk Medium */
@font-face {
  font-style: normal;
  font-weight: 800;
  src: url("./assets/fonts/static/HankenGrotesk-ExtraBold.ttf")
    format("truetype");
  font-family: "Hanken Grotesk";
  font-display: swap;
}

/* VARIABLES */

:root {
  --clr-light-red: 0, 100%, 67%;
  --clr-lighter-red: 0, 100%, 98%;
  --clr-orangey-yellow: 39, 100%, 56%;
  --clr-light-orangey-yellow: 38, 100%, 98%;
  --clr-green-teal: 166, 100%, 37%;
  --clr-light-green-teal: 162, 63%, 97%;
  --clr-cobalt-blue: 234, 85%, 45%;
  --clr-light-cobalt-blue: 234, 71%, 97%;

  --clr-light-slate-blue: 252, 100%, 67%;
  --clr-light-royal-blue: 241, 81%, 54%;

  --clr-Violet-blue: 256, 72%, 46%, 1;
  --clr-Persian-blue: 241, 72%, 46%, 0;

  --clr-white: 0, 0%, 100%;
  --clr-pale-blue: 221, 100%, 96%;
  --clr-light-lavender: 241, 100%, 89%;
  --clr-dark-gray-blue: 224, 30%, 27%;

  --text-preset-1-size: 4.5rem;
  --text-preset-1-height: 1;

  --text-preset-2-size: 3.5rem;
  --text-preset-2-height: 1;

  --text-preset-3-size: 2rem;
  --text-preset-3-height: 1.3;

  --text-preset-4-size: 1.5rem;
  --text-preset-4-height: 1.3;

  --text-preset-5-size: 1.125rem;
  --text-preset-5-height: 1.3;

  --text-preset-6-size: 1rem;
  --text-preset-6-height: 1.3;

  --spacing-0: 0;
  --spacing-100: 0.5rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-600: 3rem;
  --spacing-1000: 5rem;
}

/* GENERAL */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--clr-pale-blue));
  padding: 2.5625rem;
  min-height: 100vh;
  color: hsl(var(--clr-gray-500));
  font-weight: 500;
  font-family: "Hanken Grotesk", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
}

p {
  font-size: var(--text-preset-5-size);
  line-height: var(--text-preset-5-height);
  letter-spacing: var(--text-preset-5-ls);
}

button {
  font: inherit;
}

/* UTILITY */

.sr-only {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap; /* prevents line breaks */
}

/* SUMMARY COMPONENT */

.summary-component {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: var(--spacing-400);
  background-color: hsl(var(--clr-white));
  max-width: 736px;
}

.summary-component__result {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-400);
  border-radius: var(--spacing-400);
  background: linear-gradient(
    hsl(var(--clr-light-slate-blue)),
    hsl(var(--clr-light-royal-blue))
  );
  padding: 2.8125rem 3.375rem;
  color: hsl(var(--clr-light-lavender));
}

.summary-component__title {
  font-size: var(--text-preset-4-size);
  line-height: var(--text-preset-4-height);
}

.summary-component__score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: linear-gradient(
    hsl(var(--clr-Violet-blue)),
    hsl(var(--clr-Persian-blue))
  );
  width: 200px;
  height: 200px;
  color: hsl(var(--clr-light-lavender), 0.5168);
  font-weight: 700;
}

.summary-component__score-value {
  color: hsl(var(--clr-white));
  font-weight: 800;
  font-size: var(--text-preset-1-size);
  line-height: var(--text-preset-1-height);
}

.summary-component__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-200);

  text-align: center;
}

.summary-component__result-string {
  color: hsl(var(--clr-white));
  font-size: var(--text-preset-3-size);
  line-height: var(--text-preset-3-height);
}

.summary-component__summary {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
  padding: 2.78125rem var(--spacing-500);
}

.summary-component__list {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
}

.summary-component__item {
  display: flex;
  align-items: center;
  gap: var(--spacing-200);
  border-radius: 0.75rem;
  padding: var(--spacing-200) 1.1875rem;
  font-size: var(--text-preset-5-size);
  line-height: var(--text-preset-5-height);
  letter-spacing: var(--text-preset-5-ls);
}

.summary-component__item--reaction {
  background-color: hsl(var(--clr-lighter-red));
  color: hsl(var(--clr-light-red));
}

.summary-component__item--memory {
  background-color: hsl(var(--clr-light-orangey-yellow));
  color: hsl(var(--clr-orangey-yellow));
}

.summary-component__item--verbal {
  background-color: hsl(var(--clr-light-green-teal));
  color: hsl(var(--clr-green-teal));
}

.summary-component__item--visual {
  background-color: hsl(var(--clr-light-cobalt-blue));
  color: hsl(var(--clr-cobalt-blue));
}

.summary-component__item-right {
  margin-left: auto;
  color: hsl(var(--clr-dark-gray-blue));
  font-weight: 700;
}

.summary-component__item-full {
  opacity: 0.5;
}

.summary-component__button {
  position: relative;
  border: 0;
  border-radius: 8rem;
  background-color: hsl(var(--clr-dark-gray-blue));
  padding: var(--spacing-200);
  overflow: hidden;
  color: hsl(var(--clr-white));
  font-weight: 700;
  text-align: center;
}

.summary-component__button::before {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
  transition: opacity 0.3s ease-in-out;
  background: linear-gradient(
    hsl(var(--clr-light-slate-blue)),
    hsl(var(--clr-light-royal-blue))
  );
  width: 100%;
  height: 100%;
  content: "";
}

.summary-component__button:hover {
  cursor: pointer;
}

.summary-component__button:hover::before {
  opacity: 1;
}

.summary-component__button-text {
  display: block;
  position: relative;
  z-index: 2;
}

/* ATTRIBUTION */

.attribution {
  position: absolute;
  bottom: 0;
  left: 0;
  border-top-right-radius: var(--spacing-100);
  background-color: hsl(var(--clr-white));
  padding: var(--spacing-100);
}

.attribution__link {
  transition: color 0.3s ease-in-out;
  color: hsl(var(--clr-teal-500));
  font-weight: 700;
  text-decoration: none;
}

.attribution__link:hover {
  text-decoration: underline;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 44.5rem) {
  body {
    background-color: hsl(var(--clr-white));
    padding: 0;
  }

  p {
    font-size: var(--text-preset-6-size);
    line-height: var(--text-preset-6-height);
  }

  .summary-component {
    grid-template-columns: 1fr;
  }

  .summary-component__result {
    gap: var(--spacing-300);
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding: 2rem 3.5625rem;
  }

  .summary-component__title {
    font-size: var(--text-preset-5-size);
    line-height: var(--text-preset-5-height);
  }

  .summary-component__score {
    width: 140px;
    height: 140px;
  }

  .summary-component__score-value {
    font-size: var(--text-preset-2-size);
    line-height: var(--text-preset-2-height);
  }

  .summary-component__bottom {
    gap: var(--spacing-100);
  }

  .summary-component__result-string {
    font-size: var(--text-preset-4-size);
    line-height: var(--text-preset-4-height);
  }

  .summary-component__summary {
    gap: var(--spacing-300);
    padding: var(--spacing-400) var(--spacing-500) var(--spacing-500)
      var(--spacing-500);
  }

  .summary-component__list {
    gap: var(--spacing-200);
  }

  .summary-component__button {
    font-size: var(--text-preset-5-size);
    line-height: var(--text-preset-5-height);
  }

  .summary-component__item {
    font-size: var(--text-preset-6-size);
    line-height: var(--text-preset-6-height);
  }

  .attribution {
    display: none;
  }
}

@media (prefers-reduced-motion: reduce) {
  /* stop most animations/transitions for users who asked for reduced motion */
  * {
    animation: none !important; /* remove animations */
    transition: none !important; /* remove transitions */
  }
}
